﻿@model credit_task_aspdotnet.Models.Student

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    @Styles.Render("~/Styles/style.css")
    @Scripts.Render("~/Scripts/jquery-3.2.1.js")
    @Scripts.Render("~/Scripts/all.js")
</head>
<body>
<h1 style="text-align: center">
    @ViewBag.Greeting человек
</h1>
<div id="our_table">
    <input id="count" type="text" name="count" placeholder="Введите количество студентов"
           style="margin: 20px 0 20px 20px">
    <form>
        <div id="table" style="margin-left: 20px;"></div>
        <p>
            <input id="result" type="submit" value="Результат" disabled="disabled">
            <p id="message"></p>
            <div id="blok1" style="display: none;">
                <table border="1" class="result"/>
            </div>
        </p>
    </form>
</div>
</body>
</html>