﻿#count {
    width: 60%;
}
#table .item {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
}

#our_table {
    display: inline-block;
    float: left;
    width: 50%;
}

#diagramm {
    display: inline-block;
    width: 50%;
}